* {
  box-sizing: border-box;
}

html, body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
	font-family: 'Montserrat';
}

body {
  background-color: #121416;
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

main {
  background-color: #202224;
  padding: 30px;
  margin: 40px;
  border-radius: 20px;
	width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
	color: #6991db;
	background-color: #202224;
	font-family: 'Noto Sans JP';
	width: 32.5%;
	font-size: 24px;
	border: 10px solid #202224;
	border-radius: 10px;
	outline: none;
	resize: none;
  display: block;
	margin-left: auto;
  margin-right: auto;
	text-align: center;
}


#gentext {
	background-color: #202224;
	color: #6991db;
	font-family: 'Montserrat';
	background-color: #202224;
	width: 16.25%;
	padding: 6px 0px;
	font-size: 20px;
	border: 10px solid #202224;
	border-radius: 10px;
	cursor: pointer;
	margin-left: auto;
  margin-right: auto;
}
#gentext:hover {
	background-color: #333333;
}

.slidecontainer {
  width: 100%; 
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}


.slider:hover {
  opacity: 1; 
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #6991db;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #6991db;
  cursor: pointer;
}

